---
layout: default
title: Home
---

<div class="intro">
  <p>{{ site.intro | markdownify }}</p>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post {{ post.layout }}">
  {% if post.layout == "link" %}
    <h1 class="post-title">
      <a href="{{ post.link }}" title="External link to {{ post.title }}">
        {{ post.title }}
      </a>
      →
    </h1>

    <p>
      {{ post.content }}
      <small style="float:right"><a href="{{ post.url }}">¶</a></small>
    </p>

  {% else %}
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date: "%A, %B %d, %Y" }}</span>
    <p>{{ post.excerpt | markdownify  }}</p>
  {% endif %}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page/{{paginator.next_page}}/">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page/{{paginator.previous_page}}/">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>