---
layout: default
title: Home
---

<div class="intro">
  <p><a href="/about/"><img src="/img/devin-reams-ai-generated.jpg" alt="Devin Reams profile photo" width="200"></a></p>
  {{ site.intro | markdownify }}
</div>

<ul class="social">
  <li><a rel="me" href="https://github.com/devinreams" target="_blank"><span class="octicon octicon-mark-github"></span> GitHub</a></li>
  <li><a rel="me" href="https://snowmastodon.social/@devinreams" target="_blank"><span class="octicon octicon-globe"></span> Mastodon</a></li>
  <li><a rel="me" href="https://instagram.com/devinreams" target="_blank"><span class="octicon octicon-device-camera"></span> Instagram</a></li>
  <li><a rel="me" href="mailto:devin@reams.me"><span class="octicon octicon-mail"></span> Email</a></li>
</ul>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post {{ post.layout }}">

  {% if post.layout == "link" %}
    <a href="{{ post.url }}" style="float:right"><span class="octicon octicon-link"></span></a>
    <h1 class="post-title">
      <a href="{{ post.link }}" title="External link to {{ post.title }}">{{ post.title }} <span class="octicon octicon-link-external"></span></a>
    </h1>
    {{ post.content }}
  {% else %}
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date: "%A, %B %-d, %Y" }}</span>
    <p>{{ post.excerpt | markdownify }}</p>
  {% endif %}

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page/{{paginator.next_page}}/">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page/{{paginator.previous_page}}/">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
