<div class="footer">

	<p>{{ site.description }}</p>

  <p class="improve">
		My website is <a href="http://en.wikipedia.org/wiki/Open_source">open source</a>.
    Please <a href="https://github.com/devinreams/devinreams.github.io/edit/main/{{ page.path }}">help improve this page</a> on GitHub.
	</p>

	<p>
		&copy; {{ site.time | date: '%Y' }}. <a href="https://github.com/devinreams/devinreams.github.io/blob/main/LICENSE.md">License</a>. Proudly hosted by <a href="https://pages.github.com">GitHub</a>. v{{ site.version }}
	</p>

</div>
