<div class="footer">
	<p>
		{{ site.description }}
	</p>

  <p class="improve">
		My website is <a href="http://en.wikipedia.org/wiki/Open_source">open source</a>.
	  {% if paginator.page > 1 %}
	   Please <a href="https://github.com/devinreams/devinreams.github.io/">help improve it</a> on GitHub.
	  {% else %}
	    Please <a href="https://github.com/devinreams/devinreams.github.io/edit/master/{{ page.path }}">help improve this page</a> on GitHub.
	  {% endif %}
	</p>

	<p>
		&copy; {{ site.time | date: '%Y' }}. <a href="https://github.com/devinreams/devinreams.github.io/blob/master/LICENSE.md">License</a>. Proudly hosted by <a href="https://pages.github.com">GitHub</a>. v{{ site.version }}
	</p>

	{% include social.html %}

</div>
