<a href="https://github.com/devinreams"><span class="mega-octicon octicon-mark-github"></span></a>
<a href="http://twitter.com/devinreams"><span class="mega-octicon octicon-mark-twitter"></span></a>
<a href="http://facebook.com/devinreams"><span class="mega-octicon octicon-mark-facebook"></span></a>
<a href="https://foursquare.com/devinreams"><span class="mega-octicon octicon-globe"></span></a>
<a href="mailto:devin@reams.me"><span class="mega-octicon octicon-mail"></span></a>
<a href="https://plus.google.com/+DevinReams?rel=author" style="display:none">Google</a>