<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-08">

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
          </h3>
          <nav class="sidebar-nav">
            <a class="sidebar-nav-item" href="/about/">About</a>
            <a class="sidebar-nav-item" href="http://photos.devin.reams.me/" target="_blank">Photos</a>
          </nav>
        </div>
      </div>

      <div class="container content">
        {{ content }}

        <p class="improve"><small>My website is <a href="http://en.wikipedia.org/wiki/Open_source">open source</a>.
        {% if paginator.page > 1 %}
         Please <a href="https://github.com/devinreams/devinreams.github.io/">help improve it</a> on GitHub.
        {% else %}
          Please <a href="https://github.com/devinreams/devinreams.github.io/edit/master/{{ page.path }}">help improve this page</a> on GitHub.
        {% endif %}
      </small></p>

        {% include foot.html %}

      </div>
    </div>
  </body>
</html>
