<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-08">

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
          </h3>
          <nav class="sidebar-nav">
            <a class="sidebar-nav-item" href="/about/"><span class="octicon octicon-info"></span>About</a>
            <a class="sidebar-nav-item" href="http://metrics.devin.reams.me/" target="_blank"><span class="octicon octicon-pulse"></span>Metrics</a>
          </nav>
        </div>
      </div>

      <div class="container content">
        {{ content }}
        {% include foot.html %}
      </div>
    </div>
  </body>
</html>
